
# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.*
!.env.example

dist
lib

# Vite logs files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.DS_Store

old